:root {
    --very-light-pink: #c7c7c7;
    --text-input-fiel: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: #fff;
    --black: #000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

.inactive {
    display: none;
}

/* Navbar */
nav {
    display: flex;
    border-bottom: 1px solid var(--very-light-pink);
    justify-content: space-between;
    padding: 0 24px;
}

.menu {
    display: none;
}

.logo {
    width: 100px;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left {
    display: flex;
}

.navbar-left ul {
    margin-left: 12px;
}

.navbar-left a,
.navbar-right a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}

.navbar-left a:hover,
.navbar-right a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}

.navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
    cursor: pointer;
}

.navbar-email:hover {
    color: var(--hospital-green)
}

.navbar-shopping-cart {
    position: relative;
}

.navbar-shopping-cart div {
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
}

/* Desktop menu */
.desktop-menu {
    position: absolute;
    top: 60px;
    right: 52px;
    background: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    font-weight: bold;
    padding: 20px 20px 0;
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li {
    text-align: end;
}

.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
    font-weight: 300;
}

.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu a {
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    margin-bottom: 20px;
}


/* Mobile menu */
.container {
    position: absolute;
    top: 61px;
    width: auto;
    height: 90vh;
    background-color: var(--white);
    /* display: grid; */
}

.mobile-menu {
    /* position: absolute;
    top: 60px; */
    /* display: flex; */
    flex-direction: column;
    padding: 24px;
    justify-content: space-between;
    
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.mobile-menu ul:nth-child(1):not(:last-child) {
    border-bottom: 2px solid var(--very-light-pink);
}

.mobile-menu .mobile-menu-category {
    text-transform: uppercase;
}

.mobile-menu ul li {
    margin-bottom: 24px;
}

.mobile-menu div:nth-child(2) ul li {
    margin-bottom: 0;
}

.mobile-menu .email {
    font-size: var(--sm);
    font-weight: 300;
}

.mobile-menu .sign-out {
    color: var(--hospital-green);
    font-size: var(--sm);
}

/* Aside (product detail y carrito) */
.product-detail {
    box-sizing: border-box;
    width: 360px;
    max-width: 360px;
    padding: 0 24px;
    position: absolute;
    right: 0;
    background-color: var(--white);
}

.my-order-content {
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
}

.title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
}

.title {
    font-size: var(--lg);
    font-weight: bold;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-fiel);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.order span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.shopping-cart figure {
    margin: 0;
}

.shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}


@media (max-width: 640px) {
    .menu {
        display: block;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar-email {
        display: none;
    }

    .desktop-menu {
        display: none;
    }

    .product-detail {
        width: 100%;
    }
}

@media (min-width: 641px) {
    .container {
        display: none;
    }
}